<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>{% block title %}{% endblock %}</title>
  <style type="text/css">
    .btn btn_primary
  </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; width: 100%; top: 0;">
      <a class="navbar-brand" href="http://127.0.0.1:5000/home" style="text-align: center; vertical-align: middle; font-size: 35px; padding-right: 30px;"><b>Central Jail</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="http://127.0.0.1:5000/home" style="text-align: center; vertical-align: middle; font-size: 25px">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link active" href="http://127.0.0.1:5000/addprisoner" style="text-align: center; vertical-align: middle; font-size: 25px">Add Prisoner</a>
          <a class="nav-item nav-link active" href="http://127.0.0.1:5000/visiting" style="text-align: center; vertical-align: middle; font-size: 25px">Add Visitor</a>
          <a class="nav-item nav-link active" href="http://127.0.0.1:5000/appointments" style="text-align: center; vertical-align: middle; font-size: 25px">Appointments</a>
        </div>
      </div>

      <div align="right">
        <a class="nav-item nav-link active" style="text-align: center; vertical-align: middle; font-size: 25px" href="http://127.0.0.1:5000/logout">Logout</a>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
    	
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>